.main_wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: #4e6c50;
  background-image: url("https://unsplash.com/photos/vuDXJ60mJOA/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8Y29va3xlbnwwfHx8fDE2ODMxNjczMzI&force=true&w=2400");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 10rem;
}
.bg_image {
  height: 200px;
  display: none;
  overflow: hidden;
}

.content {
  color: black;
  margin-top: 3rem;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  max-width: 1280px;
  margin: 6rem 0 auto;
  padding: 1.8rem;
}

@media (min-width: 700px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1180px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1330px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}
